VUE_CLI_SERVICE_CONFIG_PATH=vue.config.extension.js
NODE_ENV=development

OAUTH_CLIENT_ID="621183184145-3hd3h5ioiejqu2bs1ngamlpd616mmcio.apps.googleusercontent.com"
EXTENSION_PUBLIC_KEY="MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA1/GrfVJTMm3BhHOSkdgMWyd2KR7DtyEwOXKxDetfPP6c9ZLXN8EdmOlhIVK5AOr14mY2Rdf/mtyFA0VgwyWl1P8OZiKs1gtn1TPm7wvGpd4ccwIaWQlh+8vIaaG2/bRPc3GtK8WeUT97eSYRTgC7XeFqlP4oHYm3gnqwzKGBQ0tS2cG3scrUuq7OhxXV8GNwDFwVgW3rnBm9KhwP8MpbDBXuapS/0f+4dzp576BjHNuO+EbaLrhYzIE2OwXb0s+w5cO6NVqpjSjpldnZPiicGQzJwyPMfUGclcoj/lUQRF/JtYg5lAiYU6qsh0eiiWn8tsc7f6zJh/Wj1DI0gae0vQIDAQAB"
RAMP_TEST_API_KEY=
RAMP_PROD_API_KEY=
MOONPAY_TEST_API_KEY=
MOONPAY_PROD_API_KEY=

VUE_APP_FL_WEB_X1_TESTNET_API_KEY=
FL_WEB_TON_API_KEY=
FL_WEB_ARBISCAN_API_KEY=
FL_WEB_ETHERSCAN_API_KEY=
FL_WEB_BSCSCAN_API_KEY=
FL_WEB_POLYGONSCAN_API_KEY=
FL_BLAST_API_ETHEREUM_KEY=
FL_BLAST_API_BSC_KEY=
FL_BLAST_API_SEPOLIA_KEY=
FL_BLAST_API_GOERLI_KEY=
FL_BLAST_API_POLYGON_KEY=
FL_WEB_ALCHEMY_API_ETHEREUM_KEY=
FL_BLAST_API_MOONBEAM_KEY=
FL_BLAST_API_MOONRIVER_KEY=
FL_BLAST_API_OKTC_MAINNET_KEY=
FL_BLAST_API_OPTIMISM_MAINNET_KEY=
FL_WEB_OPTIMISTIC_ETHERSCAN_API_KEY=
FL_WEB_SNOWTRACE_API_KEY=
FL_WEB_ZKEVM_POLYGONSCAN_API_KEY=
FL_DWELLIR_API_KEY=
