@mixin rotate180deg {
  transform: rotateZ(180deg);
  animation: rotation-one 0.3s;

  @keyframes rotation-one {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
}

@mixin rotate180degReverse {
  transform: rotateZ(0deg);
  animation: rotation-two 0.3s reverse;

  @keyframes rotation-two {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
}

@mixin opacity {
  animation: opacity 0.3s;

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}

@mixin shimmer-wrapper {
  animation: shimmer-full-view 0.5s forwards cubic-bezier(0.25, 0.46, 0.45, 0.94);

  @keyframes shimmer-full-view {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }
}

@mixin shimmer-animate {
  animation: shimmer-animation 3s infinite linear;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0) 51.04%,
    rgba(255, 255, 255, 0.05) 100%
  );
  background-size: 100px 100%;

  @keyframes shimmer-animation {
    0% {
      background-position: -100px 0;
    }
    100% {
      background-position: 100px 0;
    }
  }
}
