@mixin rotate180deg {
  transform: rotateZ(180deg);
  animation: rotation-one 0.3s;

  @keyframes rotation-one {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
}

@mixin rotate180degReverse {
  transform: rotateZ(0deg);
  animation: rotation-two 0.3s reverse;

  @keyframes rotation-two {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(180deg);
    }
  }
}

@mixin opacity {
  animation: opacity 0.3s;

  @keyframes opacity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
